/* <---------- COMMON STYLES ----------> */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

html {
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  block-size: 34px;
  border: 1px solid #fff;
  font-size: 18px;
  font-weight: 700;
  font-family: inherit;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -3px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

/* <---------- BODY STYLES ----------> */

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

/* <---------- MAIN STYLES ----------> */

.content {
  display: flex;
  inline-size: 100%;
  max-inline-size: 1140px;
  block-size: 534px;
  margin: 0 auto;
  align-items: flex-end;
  gap: 30px;
}

/* <---------- LEFT SIDE STYLES ----------> */

.result {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 16px;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* <---------- SEARCH FORM STYLES ----------> */

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 6px;
  border: none;
}

.fieldset__city {
  min-inline-size: 225px;
}

.fieldset__time {
  min-inline-size: 213px;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
}

.search-form__label {
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.search-form__textfield {
  min-inline-size: 224px;
  padding-inline-start: 0;
  border-inline: none;
  border-block: 1px solid #fff;
  font-size: 18px;
  font-family: inherit;
  background-color: transparent;
  color: #fff;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__submit-button {
  inline-size: 194px;
  align-self: flex-end;
}

/* <---------- RIGHT SIDE STYLES ----------> */

.content__details {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 26px;
}

.title {
  font-family: Oswald, Helvetica, sans-serif;
  font-size: 75px;
  line-height: 95%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  padding-block-start: 1px;
  block-size: 298px;
  position: relative;
  overflow-y: scroll;
}

.content__list::-webkit-scrollbar {
  width: 0;
}

.content__list-item {
  padding: 2px;
}

.content__list-item:not(:last-of-type) {
  margin-block-end: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
  cursor: pointer;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-description {
  line-height: 90%;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-title {
  font-family: Oswald, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  inline-size: 100%;
}
