/* < - - - - - - - - - - COMMON STYLES - - - - - - - - - - > */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

html {
  block-size: 100%;
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  flex-direction: column;
  max-inline-size: 1170px;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  block-size: 100%;
  margin: 30px auto;
  color: #445964;
  font-family: "IBM Plex Mono", serif;
  font-size: 24px;
}

.page-title {
  font-family: Raleway;
  font-size: 36px;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.page-subtitle {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 900;
  padding-inline-start: 10px;
  text-transform: uppercase;
  border-left: 30px solid #dc143c;
}

.page-text {
}

.text-special {
  color: #dc143c;
}

/* < - - - - - - - - - - MAIN STYLES - - - - - - - - - - > */

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-side {
  display: flex;
  align-items: center;
}

.header__logo-description {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header__list {
  display: flex;
  gap: 20px;
}

/* MAIN */

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.hero {
  display: flex;
  justify-content: space-between;
  padding-block-start: 100px;
  padding-block-end: 100px;
}

.hero__info {
  max-inline-size: 576px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.hero__text {
}

.hero__image {
  inline-size: 500px;
}

.practice {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-block-end: 100px;
}

.practice__list {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.practice__item .page-subtitle {
  margin-block-end: 15px;
}

.practice__task-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.practice__task-item {
  padding-block-start: 5px;
  padding-block-end: 5px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  border-radius: 5px;
  background-color: aliceblue;
}

.practice__card {
  max-inline-size: 250px;
  min-inline-size: 150px;
}

.practice__card-title {
  font-size: inherit;
  font-weight: inherit;
}

.practice__card-list {
  display: flex;
  gap: 5px;
}

.practice__card-description {
  line-height: 170%;
  font-size: 16px;
}

.span-code {
  padding-inline-start: 5px;
  padding-inline-end: 5px;
  padding-block-start: 5px;
  padding-block-end: 5px;
  background-color: #445964;
  color: #fff;
  border-radius: 5px;
}
